.body-heatmap{
    width:350px;
    height:300px;
    object-fit: cover;
    background-color: rgb(23, 23, 27);
    color: white;
    scroll-snap-align: end;
}

.body-mask{
    height:300px;
    z-index: 1;
}

.body-part{
    border-radius: 4px;
    position: relative;
    width:24px;
    height:24px;
    background-color: gray;
    z-index: 2;
}
.body-part:hover{
    /* transform: scale(1.05); */
}
.head{
    left: 151px;
    height:44px;
    width:44px;
    top:12px;
    border-radius: 50%;
}
.chest{
    left: 144px;
    width: 60px;
    height:60px;
    top:21px;
}
.heart{
    left:171px;
    top: -33px;
    border-radius: 40%;
}
.upper-arm-l{
    left: 117px;
    top: -67px;
    height: 55px;
    border-top-left-radius: 12px;
}
.upper-arm-r{
    left: 207px;
    top: -122px;
    height: 55px;
    border-top-right-radius: 12px;
}
.forearm-l{
    left: 117px;
    top: -120px;
    height: 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.forearm-r{
    left: 207px;
    top: -165px;
    height: 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.abs{
    left: 144px;
    top: -205px;
    width:60px;
    height: 38px;
}
.upper-leg-l{
    left: 144px;
    top: -203px;
    width: 27px;
    height: 55px;
}
.upper-leg-r{
    left: 177px;
    top: -258px;
    width: 27px;
    height: 55px;
}
.lower-leg-l{
    left: 144px;
    top: -256px;
    width: 27px;
    height: 55px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 14px;
}
.lower-leg-r{
    left: 177px;
    top: -311px;
    width: 27px;
    height: 55px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 15px;
}

.bg{
    position: relative;
    top: -660px;
    width: 350px;
    height: 350px;
    z-index: 1;
}