.body-heatmap{
    width:350px;
    height:300px;
    object-fit: cover;
    background-color: rgb(23, 23, 27);
    color: white;
    scroll-snap-align: end;
}

.body-mask{
    height:300px;
    z-index: 1;
}

.body-part{
    border-radius: 4px;
    position: relative;
    width:24px;
    height:24px;
    background-color: gray;
    border: 1px solid black;
}
.body-part:hover{
    transform: scale(1.05);
}
.head{
    left: 151px;
    height:44px;
    width:44px;
    top:12px;
    border-radius: 50%;
}
.chest{
    left: 144px;
    width: 60px;
    height:60px;
    top:20px;
}
.heart{
    left:173px;
    top: -34px;
    border-radius: 40%;
    border: 2px solid black;
}
.upper-arm-l{
    left: 118px;
    top: -70px;
    height: 55px;
    border-top-left-radius: 12px;
}
.upper-arm-r{
    left: 206px;
    top: -127px;
    height: 55px;
    border-top-right-radius: 12px;
}
.forearm-l{
    left: 118px;
    top: -127px;
    height: 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.forearm-r{
    left: 206px;
    top: -174px;
    height: 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.abs{
    left: 144px;
    top: -216px;
    width:60px;
    height: 38px;
}
.upper-leg-l{
    left: 144px;
    top: -216px;
    width: 29px;
    height: 55px;
}
.upper-leg-r{
    left: 175px;
    top: -273px;
    width: 29px;
    height: 55px;
}
.lower-leg-l{
    left: 144px;
    top: -273px;
    width: 29px;
    height: 55px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 14px;
}
.lower-leg-r{
    left: 175px;
    top: -330px;
    width: 29px;
    height: 55px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 15px;
}