.heatmap-area{
    margin-top: 15px;
    height:100%;
    width: 350px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    display: flex;
    overflow-x: scroll; 
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
}
.heatmap-items{
    display: flex;
}