.submit-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 300px;
    height: 40px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(69, 69, 69); */
    font-size: 20px;
}
.submit-area>:nth-child(3){
    width: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    
}
.submit-area>:nth-child(1){
    width: 5px;
    padding-left: 20px;
}